body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #011f4b;
  font-size: 100%;
}
h1 {
  font-family: 'Cormorant SC', serif;
  font-size: 7vw;
  text-align: center;
  padding: 100px 0px 20px 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.welcome-container {
  background-image: url(pictures/background5.jpeg);
  color: white;
  background-size: cover;
}


nav {
  position: fixed;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 0 0 5px 5px;
  background-color: #005b96;
}
.home-button {
  float: left;
  color: white;
}

.menu-button {
  float: right;
  color: white;
}

.menu-div {
  text-align: center;
  float: right;
  height: 300px;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #03396c;
  border: 4px solid black;
  border-radius: 15px 0 15px 15px;
}
.menu-button2 {
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 150%;
}
.about-button {
  margin: 30px 20px 10px 20px;
}
.projects-button, .resume-button, .linkedin-button, .github-button {
  margin: 10px 30px;
}
.about-button, .projects-button, .resume-button {
  padding: 5px;
  background-color: #03396c;
  color: #93deff;
  border: 2px solid #93deff;
  border-radius: 5px;
}
.github-button {
  padding-top: 15px;
  color: white;
  font-size: 150%;
  margin: 0 auto;
}
.linkedin-button {
  color: white;
  font-size:  150%;
}
/* ---------------------------------------projects layout */
/* pictures */
.landscaper, .tic, #project3-image, #project4-image {
  height: 100%;
  width: 50%;
}
/* landscaper */
#projects-container {
  display: flex;
}

#projects-container2 {
  display: grid;
  grid-template-columns: auto;
  margin: auto 5px;
}
/* tic tac toe */
#tic-container {
  display:flex;
}
#tic-container2 {
  display: grid;
  grid-template-columns: auto;
  margin: auto;
}

#more-button, #less-button {
  color: #005b96;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #005b96;
  border-radius: 5px;

}


/*------------------------------------------ h2s */
#about-me, #projects, #resume, #contact {
  font-size: 3vw;
  font-family: 'Cormorant SC', serif;
  padding-top: 50px;
}
#about-me {
  margin-top: 0;
}

.main-text {
  font-size: 1.5vw;
  margin: 0 auto;
  width: 70%;
  padding-bottom: 50px;
}


#about-container, #resume-container {
  background-color: #6497b1;
}
#contact {
  margin-top: 0;
  padding-top: 60px;
}
#contact-container {
  background-image: url(pictures/background5.jpeg);
  color: white;
  background-size: cover;
}

footer {
  padding: 40px;
  background-color: #005b96;
  color: white;
}
#linkedin-icon, #github-icon {
  font-size: 150%;
  color: white;
  padding: 0 5px;
}
